<% answers.each do |answer| %>

<%= link_to admins_theme_path(answer.theme.id) do %>
<%= attachment_image_tag answer.theme, :image %>
<% end %>


<h1>
  <%= link_to admins_answer_path(answer.id) do %>
  <%= answer.content %>
  <% end %>
</h1>
<p>回答by:
<%= link_to user_path(answer.user.id) do %>
<%= answer.user.name %>
<% end %>
</p>

<div>
<%= link_to "この回答を削除", admins_answer_path(answer), method: :delete %>
</div>

<p><%= link_to "#{answer.comments.count} コメント", admins_answer_path(answer.id) %></p>

<% end %>
<%= paginate answers %>