<h1>回答詳細</h1>
<%= attachment_image_tag @theme, :image %>
<p>お題by:<%= @theme.user.name %></p>

<h1><%= @answer.content %></h1>
<p>ヒトコトby:<%= @answer.user.name %></p>

    <%= link_to "この回答を削除", admins_answer_path, method: :delete %>

<p>コメント件数：<%= @answer.comments.count %></p>
<% @answer.comments.each do |comment| %>
  <%= comment.user.name %>

  <div>
  <p><%= comment.created_at.strftime('%Y/%m/%d') %><br>
  <%= comment.content %></p>
  </div>

    <div>
    <%= link_to "このコメントを削除", admins_answer_comment_path(comment.answer, comment), method: :delete %>
    </div>
  <% end %>
