

<% if answers.blank? %>
  <p class="mt-4 h4">まだヒトコトはありません…。</p>
<% end %>

<% answers.each do |answer| %>
  <article class="mt-4 shadow-lg">
    <%= link_to theme_path(answer.theme.id) do %>
      <%= attachment_image_tag answer.theme, :image, class:"card-img-top"; %>
<% end %>
  <h1 class="font-weight-bold m-3">
    <%= link_to answer_path(answer.id) do %>
      <%= answer.content %>
    <% end %>
  </h1>
  <nav class="navbar-expand mt-2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-4 h4">
        <%= link_to user_path(answer.user.id) do %>
          <i class="fas fa-user"></i>
        <%= answer.user.name %>
        <% end %>
      </li>
      <li class="nav-item ml-4 h4">
        <%= link_to answer_path(answer.id) do %>
          <i class="fas fa-comment"></i>
        <%= answer.comments.count %>
        <% end %>
      </li>
      <% if answer.favorited_by?(current_user) %>
        <li class="nav-item ml-4 h4">
          <%= link_to answer_favorites_path(answer), method: :delete do %>
            <i class="fas fa-heart text-danger"></i><%= answer.favorites.count %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item ml-4 h4">
          <%= link_to answer_favorites_path(answer), method: :post do %>
            <i class="far fa-heart"></i><%= answer.favorites.count %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  </article>
<% end %>
<div class="row">
  <div class="mx-auto mt-2 h2">
    <%= paginate answers %>
  </div>
</div>
