<% answers.each do |answer| %>

<%= link_to theme_path(answer.theme.id) do %>
<%= attachment_image_tag answer.theme, :image %>
<% end %>


<h1>
  <%= link_to answer_path(answer.id) do %>
  <%= answer.content %>
  <% end %>
</h1>
<p>ヒトコトby:<%= answer.user.name %></p>

<!--イイね部分-->
  <% if answer.favorited_by?(current_user) %>
    <p>
      <%= link_to answer_favorites_path(answer), method: :delete do %>
        ♥<%= answer.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to answer_favorites_path(answer), method: :post do %>
        ♡<%= answer.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<!--削除リンク-->
  <%# if answer.user.id == current_user.id %>
    <%#= link_to "削除", answer_path(answer.id), method: :delete %>
  <%# end %>

<% end %>
<%= paginate answers %>