<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4">
        <i class="fab fa-pagelines"></i> コメント
      </h2>

      <!--非同期のためidを追加-->
      <article class="mt-4 shadow-lg" id="answer_<%= @answer.id %>">
        <%= attachment_image_tag @theme, :image, class:"card-img-top"; %>
        <h1 class="font-weight-bold m-3">
          <%= @answer.content %>
        </h1>
        <nav class="navbar-expand mt-2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4 h4">
              <%= link_to user_path(@answer.user.id) do %>
                <i class="fas fa-user"></i>
                <%= @answer.user.name %>
              <% end %>
            </li>
            <li class="nav-item ml-4 h4">
              <i class="fas fa-comment"></i>
              <!--非同期のためクラスを追加。FontawsomeはJsファイルでエラーがでました。
              レイアウト維持のためspanタグを使用-->
              <span class="comments-count">
              <%= @answer.comments.count %>
              </span>
            </li>
            <!--非同期のためクラスを追加-->
      <li class="nav-item ml-4 h4 favorite-btn">
          <%= render 'public/favorites/favorites_btn', answer: @answer %>
      </li>
            <% if @answer.user == current_user %>
              <li class="nav-item ml-4 h4">
                <%= link_to answer_path, method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
        <!--非同期のためクラスを追加-->
<div class="w-75 ml-3 comments-list">
<%= render 'public/comments/comments_list', answer: @answer %>
</div>
        <div>
          <%= form_with model:[@answer, @comment], remote: true do |f| %>
            <%= f.text_area :content, rows:'4', class: "mt-2 w-100", placeholder: "コメントをここに" %>

             <%= f.submit "投稿する", class: "mt-2 btn btn-secondary btn-block w-100" %>
          <% end %>
        </div>
      </article>
   </div>
  </div>
</div>