<% themes.each do |theme| %>

  <%= link_to admins_theme_path(theme.id) do %>
  <%= attachment_image_tag theme, :image %>
  <% end %>

  <p>お題by:
  <%= link_to admins_user_path(theme.user.id) do %>
  <%= theme.user.name %>
  <% end %>
  </p>

  <p>回答数:
  <%= link_to admins_theme_path(theme.id) do %>
  <%= theme.answers.count %>
  <% end %>
  </p>

<div>
<%= link_to "このお題を削除", admins_theme_path(theme), method: :delete %>
</div>

<% end %>

<%= paginate themes %>