<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4">
        <i class="fab fa-pagelines"></i> お題一覧（新着順）
      </h2>
      <nav class="navbar-expand">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-4 h4">
            <%= link_to "新着", themes_path %>
          </li>
          <li class="nav-item ml-4 h4">
            <%= link_to "人気", themes_rankindex_path %>
          </li>
          <li class="nav-item ml-4 h4">
            <%= link_to 'ランダム1問', themes_introduction_path %>
          </li>
          <li class="nav-item ml-4 h4">
            <%= link_to 'お題投稿', new_theme_path %>
            <i class="fas fa-file-upload"></i>
          </li>
        </ul>
      </nav>
      <%= render 'public/themes/list', themes: @themes %>
    </div>
  </div>
</div>