<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4">
        <i class="fab fa-pagelines"></i> このお題でヒトコト
      </h2>
      <article class="mt-4 shadow-lg">
        <%= attachment_image_tag @theme, :image, class:"card-img-top"; %>
        <nav class="navbar-expand mt-2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4 h4">
              <%= link_to user_path(@theme.user.id) do %>
                <i class="fas fa-user"></i>
                <%= @theme.user.name %>
              <% end %>
            </li>
            <li class="nav-item ml-4 h4">
              <i class="fas fa-seedling"></i>
              <%= @theme.answers.count %>
            </li>
          </ul>
        </nav>
      </article>

<!--ヒトコト投稿フォーム-->
      <%= form_with model:@answer, url: answers_path, local:true do |f| %>
        <%= f.hidden_field :theme_id, value: @theme.id %>
        <%= f.text_area :content, rows:'4',autofocus: true, class: "mt-2 w-100", placeholder: "このお題でヒトコト!!" %>
        <%= f.submit "投稿する", class: "mt-2 btn btn-secondary btn-block w-100" %>
      <% end %>

<!--そのお題の回答一覧-->

      <h2 class="border-bottom border-gray mt-4">
        <i class="fab fa-pagelines"></i> ヒトコト一覧
      </h2>
      <%= render 'public/answers/list', answers: @answers %>
   </div>
  </div>
</div>