
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<p>ニックネーム：<%= @user.name %></p>
<p>BuzzSeed ID：<%= @user.unique_code %></p>
<p>総合いいね数：<%= @favorites_count %></p>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

  <p><%= @user.name %>の回答一覧</p>


<!--そのユーザーの回答一覧-->
  <%= render 'public/answers/list', answers: @answers %>